<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html dir="ltr" lang="en">

<head>
    <link rel="preload" as="image" href="/static/FMA.png" />
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <meta name="x-apple-disable-message-reformatting" />
    <style></style>
</head>

<body dir="ltr" lang="en" style="background-color:#f6f9fc"><!--$--><!--html--><!--head--><!--body-->
    <table border="0" width="100%" cellPadding="0" cellSpacing="0" role="presentation" align="center">
        <tbody>
            <tr>
                <td dir="ltr" lang="en" style="background-color:#f6f9fc;font-family:Arial, sans-serif">
                    <table align="center" width="100%" class="" border="0" cellPadding="0" cellSpacing="0"
                        role="presentation" style="max-width:37.5em">
                        <tbody>
                            <tr style="width:100%">
                                <td>
                                    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0"
                                        role="presentation"
                                        style="padding-right:2rem;padding-left:2rem;padding-bottom:4rem;padding-top:4rem">
                                        <tbody>
                                            <tr>
                                                <td><img alt="ConstruCloud" src="/static/FMA.png"
                                                        style="display:block;outline:none;border:none;text-decoration:none;text-align:center;width:18rem;background-color:rgb(23,23,23);border-radius:0.375rem;max-width:600px;margin:0 auto" />
                                                    <p
                                                        style="font-size:1rem;line-height:1.625;color:rgb(74,85,101);margin-bottom:0.5rem;margin-top:16px">
                                                        Buenas,</p>
                                                    <p
                                                        style="font-size:1rem;line-height:1.625;color:rgb(74,85,101);margin-bottom:2rem;margin-top:16px">
                                                        Recibimos una solicitud para restablecer la contraseña de su
                                                        cuenta asociada a este correo electrónico. Para elegir una nueva
                                                        contraseña, haga clic en el siguiente enlace:</p>
                                                    <table align="center" width="100%" border="0" cellPadding="0"
                                                        cellSpacing="0" role="presentation" style="text-align:center">
                                                        <tbody>
                                                            <tr>
                                                                <td><a href="{{activation_url}}"
                                                                        style="line-height:1.5;text-decoration:none;display:inline-block;max-width:100%;mso-padding-alt:0px;background-color:rgb(24,24,27);color:rgb(255,255,255);font-weight:600;padding-right:32px;padding-left:32px;padding-bottom:16px;padding-top:16px;border-radius:0.5rem;font-size:1rem;text-align:center"
                                                                        target="_blank"><span><!--[if mso]><i style="mso-font-width:400%;mso-text-raise:24" hidden>&#8202;&#8202;&#8202;&#8202;</i><![endif]--></span><span
                                                                            style="max-width:100%;display:inline-block;line-height:120%;mso-padding-alt:0px;mso-text-raise:12px">Recuperar
                                                                            contraseña</span><span><!--[if mso]><i style="mso-font-width:400%" hidden>&#8202;&#8202;&#8202;&#8202;&#8203;</i><![endif]--></span></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table align="center" width="100%" border="0" cellPadding="0"
                                                        cellSpacing="0" role="presentation"
                                                        style="font-size:1rem;line-height:1.625;color:rgb(74,85,101);margin-top:2rem">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <p
                                                                        style="font-size:1rem;line-height:1.5;font-weight:700;margin-top:16px;margin-bottom:16px">
                                                                        Este enlace expirará en 15 minutos.</p>
                                                                    <p
                                                                        style="font-size:1rem;line-height:1.625;margin-top:16px;margin-bottom:16px">
                                                                        Si usted no ha realizado esta solicitud, puedes
                                                                        ignorar este correo de forma segura; su
                                                                        contraseña seguirá siendo la misma.</p>
                                                                    <p
                                                                        style="font-size:1rem;line-height:1.625;margin-top:16px;margin-bottom:16px">
                                                                        Un saludo,</p>
                                                                    <p
                                                                        style="font-size:1rem;line-height:1.625;margin-top:16px;margin-bottom:16px">
                                                                        El equipo de <span style="font-weight:600"> FMA
                                                                            Admin Panel</span>.</p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <hr
                                        style="width:100%;border:none;border-color:#e8e8e8;border-top:1px solid #eaeaea;margin:0 6px" />
                                    <table align="center" width="100%" border="0" cellPadding="0" cellSpacing="0"
                                        role="presentation" style="text-align:center">
                                        <tbody>
                                            <tr>
                                                <td style="padding:10px 16px">
                                                    <p
                                                        style="font-size:0.75rem;line-height:1.3333333333333333;color:rgb(153,161,175);margin-top:16px;margin-bottom:16px">
                                                        © 2026 MGB Devops · Todos los derechos reservados.</p>
                                                    <p
                                                        style="font-size:0.75rem;line-height:1.3333333333333333;color:rgb(153,161,175);margin-top:16px;margin-bottom:16px">
                                                    </p>
                                                    <p
                                                        style="font-size:0.75rem;line-height:1.3333333333333333;color:rgb(153,161,175);margin-top:16px;margin-bottom:16px">
                                                        MGB Devops · Puerto de Santa María, España</p>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table><!--/$-->
</body>

</html>